<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS and pdfmake</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/pdfmake/pdfmake.min.js"></script>
    <script src="js/pdfmake/vfs_fonts.js"></script>

</head>
<body ng-controller="myController">
    <div class="col-md-12">
       <button ng-click="exportPDF()">Export PDF</button>
    </div>
    <div class="col-md-12">
            <input type="checkbox" ng-model="emapTrendChart1" ng-click="listenchart(emapTrendChart1)"> 
            <div id="emapTrendChart-chart1">Placeholder for chart</div>
    </div>
    <div class="col-md-12">
      <input type="checkbox"  ng-model="emapTrendChart2" ng-click="listenchart(emapTrendChart2)">
      <div id="emapTrendChart-chart2">Placeholder for chart</div>
    </div>
    <canvas id="canvas" width="1600" height="400" ng-show="false"></canvas>
    <div id="png-container" ng-show="false" ></div>
   
    <script>
            angular.module('myModule', [])
                .controller('myController', function ($scope) {
                    var charts=[];
                    $scope.emapTrendChart1=false;
                    $scope.emapTrendChart2=false;
                    $scope.totalcharts=0;

                    $scope.addChart= function(){
                        $scope.totalcharts++;
                    };

                    $scope.delChart=function(){
                        $scope.totalcharts--;
                    }

                    $scope.listenchart= function(value){
                        if(value){
                            $scope.addChart();
                        }
                        else{
                            $scope.delChart();
                        }
                    }

                    Highcharts.chart('emapTrendChart-chart1', {
    
                        xAxis: {
                            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
                                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                        },
    
                        series: [{
                            data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
                        }]
                    });

                     Highcharts.chart('emapTrendChart-chart2', {
    
                            xAxis: {
                                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
                                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                            },

                            series: [{
                                data: [111.9, 51.5, 66.4, 129.2, 154.0, 170.0, 132.6, 142.5, 200.4, 164.1, 95.6, 54.4]
                            }]
                        });

                    $scope.convertPng = function(canvas, svgString, callback){
                        var ctx = canvas.getContext("2d");
                        var DOMURL = self.URL || self.webkitURL || self;
                        var svg = new Blob([svgString], {type: "image/svg+xml;charset=utf-8"});
                        var url = DOMURL.createObjectURL(svg);
                        var img = new Image();
                        img.onload = function() {
                                ctx.drawImage(img, 0, 0);
                                var png = canvas.toDataURL("image/png");
                                document.getElementById('png-container').innerHTML = '<img  src="'+png+'"/>';
                                charts.push(png);
                                callback( DOMURL.revokeObjectURL(png));
                               
                            };
                        img.src = url;
                    }    
                    
                    $scope.exportPDF = function(){
                       
                        if($scope.emapTrendChart2){
                            var svgString =document.querySelector('#emapTrendChart-chart2').firstChild.innerHTML;
                            var canvas = document.getElementById("canvas");
                            $scope.convertPng(canvas, svgString, function(png){
                                $scope.createPDF();
                            });
                           
                        }
                        if($scope.emapTrendChart1){
                            var svgString =document.querySelector('#emapTrendChart-chart1').firstChild.innerHTML;
                            var canvas = document.getElementById("canvas");
                            $scope.convertPng(canvas, svgString, function(png){
                                $scope.createPDF();
                            });
                        }
                     
                        
                    }

                 

                     $scope.createPDF = function(){
                        var docDefinition = {
                            pageMargins: [80, 160, 80, 50],
                                header: {
                                    table: {
                                    widths: [200, 'auto', 'auto'],
                                    headerRows: 2,
                                    body: [
                                        [{text: 'SAUDI Electricity Company – Generation Optimization Center', style: 'tableHeader', colSpan: 3, alignment: 'center'}, {}, {text: 'Header 3', style: 'tableHeader', alignment: 'center'}],
                                        ['Name: nameexample', '',  'Date init: 17/09/2018'],
                                        ['Email: exampleEmail', '', 'Date End: 17/09/2018'],
                                        ['Report subject: User will fill the title', 'Report Criticality: Urgent', 'Description: Field to be filled by the user'],
                                        ['Plant ID:', {colSpan: 2, rowSpan: 2, text: 'Qcc'}, ''],
                                        ['', '', ''],
                                        
                                    ]
                                    
                                },
			                	layout: 'noBorders'
                            },
                            // footer: {
                            //     columns: [
                            //     'Left part',
                            //     { text: 'Right part', alignment: 'right' }
                            //     ]
                            // },
                            content: [
                            {
                                
                            
                                image: charts[0],
                                width: 633,
                                height: 350
                            },
                            { 
                              
                                image: charts[1],
                                width: 633,
                                height: 350
                            }
                            ],
                            styles: {
                                header: {
                                    fontSize: 18,
                                    bold: true,
                                    margin: [0, 0, 0, 10]
                                },
                                subheader: {
                                    fontSize: 16,
                                    bold: true,
                                    margin: [0, 10, 0, 5]
                                },
                                tableExample: {
                                    margin: [0, 5, 0, 15]
                                },
                                tableHeader: {
                                    bold: true,
                                    fontSize: 13,
                                    color: 'black'
                                }
                            },
                        };
                        if($scope.totalcharts == charts.length && charts.length>0){
                            docDefinition.content = docDefinition.content.filter(x=> x.image!=undefined)
                            pdfMake.createPdf(docDefinition).download('optionalName.pdf');
                            charts=[];
                        }
                      
                     }
                });
        </script>
</body>
</html>
